<!doctype html>
<html lang="en">
  <head>
    <title>Chart.js example</title>
    <script type="text/javascript" charset="UTF-8"></script><script type="module" defer src="static/js/main.js"></script>
  </head>
  <body>
    <div id="tmp"></div>
    <hr/>
    <div style="border: 2px solid tomato; width: 500px; display: inline-block;">
      <canvas id="line"></canvas>
    </div>
    <div style="border: 2px solid peru; width: 500px; display: inline-block;">
      <canvas id="pie"></canvas>
    </div>
    <div style="border: 2px solid powderblue; width: 500px; display: inline-block;">
      <canvas id="bar"></canvas>
    </div>
  </body>
</html>
