<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!--GOOGLE FONTS-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap" rel="stylesheet"> 

</head>
<body>
    <!-- Sidebar -->
    <div class="w3-sidebar w3-bar-block w3-border-right" style="display:none" id="mySidebar">
        <button onclick="w3_close()" class="w3-bar-item w3-large">Close &times;</button>
        <a href="index.html" class="w3-bar-item w3-button">Home</a>
        <a href="Cortex_API.html" class="w3-bar-item w3-button">Cortex_API</a>
        <a href="shimmer.html" class="w3-bar-item w3-button">Shimmer3 EMG Unit</a>
    </div>
    
   <!-- Page Content -->
    <div class="w3-teal" style="justify-content: space-between; display: flex; align-items: center; background-color: #3586ff; " >
        
        <button class="w3-button w3-teal w3-xlarge" onclick="w3_open()">☰</button>
        <div class="header_faq">
            <ul style=" display: flex; gap: 25px; align-items: center; list-style: none; margin-right:25px">
                <li>Profile</li>
                <li>About us</li>
                <li >FAQ</li> 
            </ul>
        </div>
        
     <!--Header content here and style -->
    </div>

    <script>
    function w3_open() {
        document.getElementById("mySidebar").style.display = "block";
    }
    
    function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
    }
    </script>
    <!-- Main page content-->
    <div class="teams">
        <div class="box">
            <div class="inforgamtion">
                <div class="inside_box">
                <h1>Leader (Back End)</h1>
                <p>type about yourself, I study at Sejong Univerisy In Computer Science department, and I was involved in making this webside back end work and assigning the teach  </p>
          
                </div>
                 </div>
                 <div class="image">
                <img src="src/Sejong_University (1).png" alt="profile picture"/>
            </div>
        </div>
        <hr>
        <div class="box">
            <div class="inforgamtion">
                <div class="inside_box">
                    <h1>Front End, (charts)</h1>
                    <p>type about yourself, I study at Sejong Univerisy In Computer Science department, and I was involved in making this webside back end work and assigning the teach  </p>
                 </div>
                
            </div>
            <div class="image">
                <img src="src/Sejong_University (1).png" alt="">
            </div>
        </div>
        <hr>
        <div class="box">
            <div class="inforgamtion">
                <div class="inside_box">
                    <h1>Front end (layout, fuctions and design) </h1>
                    <p>I study at Sejong Univeristy in IBBA and CS  major I am 21 y.o and I was responsible for front end (sidebar and overall webpages)</p>, 
             
                </div>
            </div>
            <div class="image">
                <img src="src/Sejong_University (1).png" alt="">
            </div>
        </div>
        <hr>
        <div class="box">
            <div class="inforgamtion">
                <div class="inside_box">
                    <h1>name</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis quia, blanditiis repudiandae dolores repellat sint, molestiae eius esse labore saepe et suscipit maiores sunt impedit facere officiis quo aspernatur commodi.
                    </p>
                    </div>
               
            </div>
            <div class="image">
                <img src="src/Sejong_University (1).png" alt="">
            </div>
        </div>
        <hr> <div class="box">
            <div class="inforgamtion">
                <div class="inside_box">
                    <h1>name</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis quia, blanditiis repudiandae dolores repellat sint, molestiae eius esse labore saepe et suscipit maiores sunt impedit facere officiis quo aspernatur commodi.
                    </p>
                    </div>
               
            </div>
            <div class="image">
                <img src="src/Sejong_University (1).png" alt="">
            </div>
        </div>
        <hr>
        <div class="box">
            <div class="inforgamtion">
                <div class="inside_box">
                    <h1>name</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis quia, blanditiis repudiandae dolores repellat sint, molestiae eius esse labore saepe et suscipit maiores sunt impedit facere officiis quo aspernatur commodi.
                    </p>
                    </div>
               
            </div>
            <div class="image">
                <img src="src/Sejong_University (1).png" alt="">
            </div>
        </div>
        <hr>
        <div class="box">
            <div class="inforgamtion">
                <div class="inside_box">
                    <h1>name</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis quia, blanditiis repudiandae dolores repellat sint, molestiae eius esse labore saepe et suscipit maiores sunt impedit facere officiis quo aspernatur commodi.
                    </p>
                    </div>
               
            </div>
            <div class="image">
                <img src="src/Sejong_University (1).png" alt="">
            </div>
        </div>
        <hr>
        


    </div>
 
 
    <!-- Site footer -->
   <!--
    <footer>
        <div class="contacts">
            <h1>Contacts</h1>
            <h3></h3>
            <br>
            <a href="Instagram"><img class="social_logo" src="src/instagram.jpeg" alt=""></a> <a href="kakao"><img class="social_logo" src="src/kakao.png" alt=""></a> <a href="twitter"><img class="social_logo" src="src/twitter.jpeg" alt=""></a> <a href=""><img class="social_logo" src="src/facebook.png" alt=""></a>
            <a href="Instagram"><img class="social_logo" src="src/instagram.jpeg" alt=""></a> <a href="kakao"><img class="social_logo" src="src/kakao.png" alt=""></a> <a href="twitter"><img class="social_logo" src="src/twitter.jpeg" alt=""></a> <a href=""><img class="social_logo" src="src/facebook.png" alt=""></a>
            <a href="Instagram"><img class="social_logo" src="src/instagram.jpeg" alt=""></a> <a href="kakao"><img class="social_logo" src="src/kakao.png" alt=""></a> <a href="twitter"><img class="social_logo" src="src/twitter.jpeg" alt=""></a> <a href=""><img class="social_logo" src="src/facebook.png" alt=""></a>
            <a href="Instagram"><img class="social_logo" src="src/instagram.jpeg" alt=""></a> <a href="kakao"><img class="social_logo" src="src/kakao.png" alt=""></a> <a href="twitter"><img class="social_logo" src="src/twitter.jpeg" alt=""></a> <a href=""><img class="social_logo" src="src/facebook.png" alt=""></a>
            <a href="Instagram"><img class="social_logo" src="src/instagram.jpeg" alt=""></a> <a href="kakao"><img class="social_logo" src="src/kakao.png" alt=""></a> <a href="twitter"><img class="social_logo" src="src/twitter.jpeg" alt=""></a> <a href=""><img class="social_logo" src="src/facebook.png" alt=""></a>
            <a href="Instagram"><img class="social_logo" src="src/instagram.jpeg" alt=""></a> <a href="kakao"><img class="social_logo" src="src/kakao.png" alt=""></a> <a href="twitter"><img class="social_logo" src="src/twitter.jpeg" alt=""></a> <a href=""><img class="social_logo" src="src/facebook.png" alt=""></a>
            <a href="Instagram"><img class="social_logo" src="src/instagram.jpeg" alt=""></a> <a href="kakao"><img class="social_logo" src="src/kakao.png" alt=""></a> <a href="twitter"><img class="social_logo" src="src/twitter.jpeg" alt=""></a> <a href=""><img class="social_logo" src="src/facebook.png" alt=""></a>
       
        
        
        </div>
        
        <div class="members">
            <h1>Team members and contacts</h1>
            <h3>Team number 5</h3>
            <p>Maksim</p>
            <p>Kim Do Hyon</p>
            <p>Masharipov Ismoiljon</p>
            <p>name</p>
            <p>name</p>
            <p>name </p>
            <p>name</p>

        </div>

        <div class="footer-bottom">
            <img src="src/logo.png" alt="">
            <p>copyright &copy;2024 <a href="#">Sejong University</a>  </p>

        </div>
    

    </footer>
--><!--here are the links to our social media and phone numbers and about -->

<footer>
    <div class="footer">
    <div class="row">
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-youtube"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    </div>
    
    <div class="row">
    <ul>
    <li><a href="#">Contact us</a></li>
    <li><a href="#">Our Services</a></li>
    <li><a href="#">Privacy Policy</a></li>
    <li><a href="#">Terms & Conditions</a></li>
    <li><a href="#">Career</a></li>
    </ul>
    </div>
    
    <div class="row">
    Copyright © 2024 Sejong University Computer Science Department - All rights reserved || Designed By: Ismail 
    </div>
    </div>
    </footer>
</body>
</html>